.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container span {
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid blue;
}

.large {
  width: 1000px;
  height: 500px;
}
.medium {
  width: 500px;
  height: 250px;
}
.small {
  width: 250px;
  height: 125px;
}
.custom {
  width: 200px;
  height: 100px;
}
